.mediocirculomilos {
    margin-left: 40px; 
    margin-top: -157px;
}


.Rectangulorosa {
    text-align: center;
    padding: 100px 0; 
    margin-top: -95px;
    width: 1280px;
}

.logomilos{
    width: 10%;
    margin-left: 0px;
    margin-top: 0px;
}

.dequetrata{
    width: 40%;
    margin-left: 283px;
    top: 50px;

}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #00aaff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el menú desplegable */
.menu {
    position: relative;
    background-color: white; 
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 3%; 
    float: left; /* Coloca el menú a la izquierda */
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    color: black; 
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black; /* Cambiar el color de las barras a negro */
    margin: 3px 0;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: rgba(140, 133, 135, 0.7);
    ; /* Cambiar el color de fondo del submenú a blanco */
    margin-top: 260px;
    left: 0;
    width: 150px;
}

.menu:hover .submenu {
    display: block;
}

.submenu li {
    padding: 27px;
}

.submenu a {
    color: black; /* Cambiar el color del texto del submenú a negro */
    text-decoration: none;
    border: 14px solid rgb(206, 190, 190);
    border-radius: 14px;
}

