.registrarse {
    position: absolute;
    top: 300px; 
    left: 50%; 
    transform: translateX(-50%); 
}


.iniciarsesion {
    position: absolute;
    top: 220px; 
    left: 50%;
    transform: translateX(-50%);
}


.mediocirculomilos {
    margin-left: 960px; 
    margin-top: 133px;
}   


.Rectangulorosa {
    text-align: center;
    padding: 100px 0; 
    width: 95%;
    margin-top: -100px;
}

.dropdown {
    position: absolute;
    top: -150px;
    left: 20px; 
}


.logomilos{
   margin-top: -60px;
    width: 10%;
    margin-left: -5px;
}


.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #00aaff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.bienvenidos{
  margin-top: -100px;
  margin-left: 350px;
}

.menu {
    position: relative;
    background-color: white; 
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 4%; 
    float: left; /* Coloca el menú a la izquierda */
    
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    color: black; 
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: rgba(140, 133, 135, 0.7);
    margin-top: 250px;
    left: 0;
    width: 150px;
}

.menu:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px;
}

.submenu a {
    color: black; 
    text-decoration: none;
}

.logomilos{
    margin-top: 0px;
    margin-left: -1px;
}
 
.registrarse{
    margin-left: -200px;
    margin-top: 40px;
}

.iniciarsesion{
    margin-left: -200px;
    margin-top: 40px;
}