.Rectangulorosa{
    width: 100%;
    position: relative;
    top: 50px;
    position: relative;
    top: 10px; 
}

.mediocirculomilos{
    margin-left: 74%;
    position: relative;
    top: 254px;
}

.perfileshijos{
    margin-left: 520px;
    position: relative;
    top: -320px;
}  

.agregarperfil{
    margin-left: 100px;
    position: relative;
    top: -100px;
}

.logomilos{
    height: 35px;
    margin-left: 10px;
    margin-top: -0px;
}

.flechaatras{
    margin-top: 0px;
}

.agregarperfil2{
    margin-left: -100px;
}