.Rectangulorosa{
    margin-top: 10px;
    width: 1200px;
}

.logomilos{
    width: 110px;
    margin-left: 50px;
    margin-top: -20px;
}

.rectangulo{
    margin-left: 200px;
    margin-top: 40px;
}

.perfiljuan{
    margin-left: 280px;
    margin-top: -320px;
}

.queemocionterepresenta{
    margin-left: 250px;
    margin-top: 15px;
}

.enojado{
    margin-left: 420px;
    margin-top: 50px;
    width: 90px;
}

.emocion{
    margin-left: 530px;
    margin-top: -110px;
}

.triste{
    margin-left: 640px;
    margin-top: -110px;
}

.normal{
    margin-left: 745px;
    margin-top: -112px;
}