.logomilos img{
    width: 10%;
    margin-left: 68px;
    top: 30px;
    position: relative;
}



.reiniciar{
    margin-top: -290px;
background-color: #ee5353; /* Color de fondo del botón */
      color: #fff; /* Color del texto del botón */
      padding: 15px 30px; /* Espaciado interior del botón (arriba/abajo y izquierda/derecha) */
      border: none; /* Sin borde */
      cursor: pointer; /* Cursor al pasar por encima del botón */
      border-radius: 5px; /* Borde redondeado */
      font-size: 16px; /* Tamaño de fuente */
      transform: translate(100px);
      position: relative;
      top: 50px;
      left: 485px;
    }

    body {
        margin: 0; /* Asegúrate de que no haya márgenes en el cuerpo del documento */
    }

    .flechaatras {
        position: absolute;
        top: 25px; /* Centra verticalmente en relación con el cuerpo del documento */
        left: 10px; /* O ajusta la posición a tu preferencia */
        transform: translateY(-50%); /* Ajusta para centrar exactamente */
    }

.arbol {
    margin-top: -265px;
    margin-left: 1100px;
}

.logomilos{
    height: 30px;
    margin-left: 30px;
    margin-top: -22px;
    }

.tateti{
    margin-left: 280px;
    margin-top: 1px;
}

.Rectangulorosa{
    width: 1250px;
    margin-top: 20px;
    
}

body{
    max-height: 90vh;
    overflow-y: hidden;
  }



.arbol2 {
    margin-top: 5px;
    margin-left: 50px;
}

.memotest {
    margin-left: 520px;
    margin-top: 30px;
}

table {
    margin-left: 310px; /* Ajusta el margen izquierdo para centrar la tabla */
    margin-top: 20px;
    
}

td {
    width: 130px; /* Ajusta el ancho de las celdas según tus necesidades */
    height: 150px; /* Ajusta el alto de las celdas según tus necesidades */
    text-align: center;
    background-color: rgba(243, 83, 83, 0.685);
    background-size: cover; /* Hace que la imagen de fondo cubra toda la celda */
  
}


