.logomilos img{
    width: 10%;
    margin-left: 58px;
    margin-top: -80px;
}

.flechaatras img{
    cursor: pointer;

}

.Rectangulorosa {
    width: 1250px;
    margin-top: 7px;
}

.arbol {
    margin-top: -285px;
    margin-left: 1100px;
}

.arbol2 {
    margin-top: -142px;
}

.memotest {
    margin-left: 500px;
    margin-top: 30px;
}

table {
    margin-left: 310px; /* Ajusta el margen izquierdo para centrar la tabla */
    border-collapse: collapse;
}

td {
    width: 130px; /* Ajusta el ancho de las celdas según tus necesidades */
    height: 150px; /* Ajusta el alto de las celdas según tus necesidades */
    text-align: center;
    background-color: rgb(243, 83, 83);
    background-size: cover; /* Hace que la imagen de fondo cubra toda la celda */
    background-repeat: no-repeat;
}

