.logomilos{
    height: 30px;
    margin-left: 40px;
    margin-top: -20px;
    }

.tateti{
    margin-left: 245px;
    margin-top: 25px;
}

.Rectangulorosa{
    width: 1245px;
}

.empezar{
    height: 80px;
    margin-left:520px;
    margin-top: 180px;
}

.arbol{
    margin-top: -136px;
    margin-left: 20px;
}

.arbol2{
    margin-left: 115px;
    margin-top: -145px;
    
}

.ajugar{
    margin-left: 470px;
    margin-top: -140px;
}

.mediocirculoverde{
    height: 270px;
    margin-left: 500px;
    margin-top: 9px;
}
.button-container{
 margin-left: 400px;
 margin-top: 100px;

}

.button-as-image{
    margin-left: 30px;
}