.mediocirculoceleste {
    margin-left: 1072px;
    margin-top: 500px;
}

.Rectangulorosa {
    margin-left:150px;
    position: relative; /* Establece la posición como relativa */
  top: 120px; /* Mueve la imagen 20px hacia arriba */
}
