.logomilos{
    width: 110px;
    margin-left: 40px;
    margin-top: -20px;
}

.Rectangulorosa{
    width: 1200px;
}

.encontramilos{
    margin-left: 190px;
    width: 450px;
    margin-top: 15px;
}

.iglo{
    margin-left: 470px;
    margin-top: -0px;
}

.medioarbol{
    margin-top: -35px;
}

.milos{
    width: 20px;
}

.tresarbol{
    margin-left: 400px;
    width: 250px;
    margin-top: -90px;
}

