.logomilos{
    height: 30px;
    margin-left: 40px;
    margin-top: -20px;
    }

.adibujar{
    margin-left: 245px;
    margin-top: 25px;
}

.Rectangulorosa{
    width: 1245px;
}

.empezar{
    height: 80px;
    margin-left:500px;
    margin-top: 320px;
}

.arbol{
    margin-top: -110px;
    margin-left: 20px;
}

.arbol2{
    margin-left: 575px;
    margin-top: -135px;
    
}

