.logomilos{
    height: 30px;
    margin-left: 40px;
    margin-top: -20px;
    }

.adibujar{
    margin-left: 245px;
    margin-top: 25px;
}

.Rectangulorosa{
    width: 1245px;
}

.empezar{
    height: 80px;
    margin-left:500px;
    margin-top: 180px;
}

.arbol{
    margin-top: -145px;
    margin-left: 20px;
}

.arbol2{
    margin-left: 115px;
    margin-top: -135px;
    
}

.ajugar{
    margin-left: 470px;
    margin-top: -140px;
}

.mediocirculoverde{
    height: 270px;
    margin-left: 500px;
}