.logomilos{
    width: 110px;
    margin-left: 30px;
    margin-top: -20px;
}

.rectangulorosa{
    width: 1300px;
    margin-top: -3px;
}

.quienessomos{
    margin-left: 430px;
    margin-top: -18px;
}

.nosotros{
    width: 900px;
    margin-left: 90px;
    margin-top: -45px;
}

body{
    max-height: 90vh;
    overflow-y: hidden;
  }