.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .Rectangulorosa {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
    margin-top: -150px;
    margin-left: -80px;
  
  }
  
  .mediocirculomilos {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .logomilos{
    height: 30px;
    margin-left: 95px;
    margin-top: 2px;
  }
  
  .registration-form {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    border: rgba(217, 217, 217, 1);
    margin-top: 20px; /* Baja el formulario de registro */
    text-align: center;
    width: 30%;
    height: 350px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .input-with-icon {
    position: relative;
    border-bottom: 2px solid #9b3d3d;
    margin-bottom: 30px;
  
  }
  
  .input-icon {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom: 2px 
  }
  
  .input-with-icon input[type="password"] {
    padding-right: 0px;
  }
  
  .button-container {
    position: relative;
  }
  
  .button-container img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  button[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container {
    position: relative;
  }
  
  #backButton {
    position: absolute;
    top: -32px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 20px; /* Ajusta la distancia desde la izquierda según tus necesidades */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2; /* Asegura que el botón esté sobre otros elementos */
    
  }
  
  #backButton img {
    width: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
  }
  