.logomilos{
    height: 30px;
    margin-left: 40px;
    margin-top: -20px;
    }

.adibujar{
    margin-left: 225px;
    margin-top: 25px;
}

.Rectangulorosa{
    width: 1245px;
}

.empezar{
    height: 90px;
    margin-left:520px;
    margin-top: 285px;
}

.arbol{
    margin-top: -90px;
    margin-left: 20px;
}

.arbol2{
    margin-left: 575px;
    margin-top: -135px;
    
}

.ayudayconsejos{
    width: 550px;
    margin-left: 140px;
}

