.mediocirculoceleste {
    position: relative;
    top:500px;
    margin-right: 170px;
    
}    

.Rectangulorosa {
    
    margin-left: 180px;
    
     
    
}
     
.Dequesetrata {
    margin-left: 570px;
    margin-top: 50px;
    
}