.mediocirculomilos {
    position: relative;
    top:135px;
    margin-right: 170px;
    
}    

.Rectangulorosa {
    width: 90%;
    position: relative;
    top: -400px;   
    
}
     
.Dequesetrata {
    margin-left: 570px;
    margin-top: 50px;
    position: relative;
    top: -350px;
    
}