.mediocirculoceleste {
    position: relative;
    top:370px;
    margin-right: 170px;
    
}    

.Rectangulorosa {
    width: 90%;
    position: relative;
    top: -200px;
    
    
     
    
}
     
.Dequesetrata {
    margin-left: 570px;
    margin-top: 50px;
    
}