.Rectangulorosa{
    width: 100%;
    position: relative;
    top: 50px;
    position: relative;
    top: 5px; 
}

.mediocirculoceleste{
    margin-left: 1074px;
    position: relative;
    top: 432px;
}

.perfileshijos{
    margin-left: 520px;
    position: relative;
    top: -100px;
}  