
/* Estilo para el botón de Registrarse */
.start-button {
    position: absolute;
    top: 300px; /* Ajusta este valor según lo necesites para posicionar la imagen */
    left: 50%; /* Para centrar horizontalmente el botón */
    transform: translateX(-50%); /* Centra horizontalmente el botón en relación con su contenedor */
}

/* Estilo para el botón de Iniciar Sesión */
.about-button {
    position: absolute;
    top: 220px; /* Cambia este valor para posicionarlo debajo del botón de Registrarse */
    left: 50%;
    transform: translateX(-50%);
}

.mediocirculomilos {
    margin-left: 960px; 
    margin-top: 57px;
}

/* Estilos para el contenedor de la imagen del rectángulo */
.Rectangulorosa {
    text-align: center;
    padding: 100px 0; /* Ajusta el espaciado según sea necesario */
    width: 95%;
    margin-top: -50px;
}


/* Estilo para el medio círculo en la parte inferior derecha */
.bottom-right-image {
    position: absolute;
    bottom: 60px;
    right: 0;
    transform: translate(-50%, 50%);
    margin-top: -1000px;
   
}

/* Estilos para el menú desplegable */
.dropdown {
    position: absolute;
    top: -150px; /* Ajusta esta propiedad según tu diseño */
    left: 20px; /* Ajusta esta propiedad según tu diseño */
}

.dropbtn {
    background-color: #4CAF50;
    color: rgb(132, 59, 59);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #af9595;
    min-width: 160px;
    z-index: 1;
    top: 100%;
}

.dropdown-content li {
    padding: 10px;
    display: block; 
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Estilo para el fondo celeste y centrar el contenido verticalmente */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
/* Fondo celeste */
}

/* Estilos para el cartel de bienvenida */
.welcome-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 50px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}

/* Estilos para los botones "Empezar" y "De qué se trata" */
.welcome-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 50px 0;
}

.welcome-heading {
    margin: 0;
    padding-bottom: 20px;
}

.start-button,
.about-button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

.start-button:hover,
.about-button:hover {
    background-color: #eee;
}

/* Estilos para los botones "Iniciar Sesión" y "Registrarse" en la segunda página */
.login-button, .register-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    background: rgba(0, 0, 0, 1);

}

.login-button:hover, .register-button:hover {
    background-color: #000000;
}

/* Estilos para el formulario de registro */
.registration-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.registration-container h2 {
    margin-bottom: 20px;
}

.registration-container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-container form input[type="text"],
.registration-container form input[type="email"],
.registration-container form input[type="password"],
.registration-container form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.registration-container form .hijos-container {
    margin-top: 20px;
}

.registration-container form .hijo {
    display: flex;
    margin-bottom: 10px;
}

.registration-container form .hijo input[type="text"],
.registration-container form .hijo input[type="number"] {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

.registration-container form .submit-button {
    padding: 10px 20px;
    background-color: white;
    color: #00aaff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.registration-container form .submit-button:hover {
    background-color: #f2f2f2;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #00aaff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.back-button:hover {
    background-color: #f2f2f2;
}

.Bienvenidos {
    position: relative; /* Establece la posición como relativa */
  top: -60px; /* Mueve la imagen 20px hacia arriba */
}

/* Estilos para el menú desplegable */
.menu {
    position: relative;
    background-color: white; /* Cambiar el color de fondo a blanco */
    color: black; /* Cambiar el color del texto a negro */
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    color: black; /* Cambiar el color del icono a negro */
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black; /* Cambiar el color de las barras a negro */
    margin: 3px 0;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: rgba(140, 133, 135, 0.7);
    ; /* Cambiar el color de fondo del submenú a blanco */
    margin-top: 250px;
    left: 0;
    width: 150px;
}

.menu:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px;
}

.submenu a {
    color: black; /* Cambiar el color del texto del submenú a negro */
    text-decoration: none;
}

  
 
  
